body {
  text-transform: uppercase;
}
.logo_hh {
  height:100px;
  width: 150px;
  float: left;
  }
.menu {
  float:right;
  width: 1100px;
  color: grey;
  font-family: Monospace;
}
li{
  display: inline-block;
   padding: 20px;
   color:#958D8D ;
   text-align:center;
   font-family: cursive;
}
li.active{
	background:#ffffff;
}

li:hover {
	background:#000000;
}
li:hover a {
	color:white;
}

.become_volunteer {
  border: 1px solid green;
  border-radius: 6px;
  color: green;
}

.become_volunteer:hover {
  border: 1px solid green;
  border-radius: 4px;
  background: green;
  color: white;
}

.band {
  clear: both;
  padding: 50px;
  background:url("gents.jpg") no-repeat center;
  background-size: cover;
}
.donation {
  background: white;
  padding: 2%;
  width: 300px;
}
.featured {
  float: left;
  color: white;
  font-weight: bold;
  background: grey;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.featured:hover {
  float: left;
  color: grey;
  font-weight: bold;
  border: 1px solid grey;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.days {
  float: right;
  margin-top: 26px;
  color: grey;
}

.slogan {
  font-weight: bold;
  clear: both;
  float: left;
}

.lorem1 {
  color: grey;
  text-transform: none;
  float: left;
}

.raised {
  float: left;
  color: grey;
  padding-top: 15px;
  padding-right: 15%;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

.big_green{
  font-size: 1.5em;
  font-weight: bold;
  color: green;
  float: left;
}

.goal {
  float: left;
  color: grey;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 10%;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}

.big_black {
  font-size: 1.5em;
  font-weight: bold;
  float: left;
}

.donate {
  clear: both;
  text-align: center;
  font-weight: bold;
  color: white;
  background: green;
  border: 1px solid green;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.donate:hover {
  clear: both;
  text-align: center;
  font-weight: bold;
  color: green;
  background: white;
  border: 1px solid green;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.help, .shoutout {
  text-align: center;
}

.help {
  margin-top: 8%;
  color: white;
  font-weight: bold;
  background: grey;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.help:hover {
  margin-top: 8%;
  color: grey;
  font-weight: bold;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.shoutout {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2%;
}

.choices {
  margin-left: 3%;
}

.icons {
  font-weight: bold;
}

.caption {
  margin: 30px;
}

.blocs {
  text-align: center;
  padding: 1%;
  float: left;
  width: 30%;
}

.none_transform {
  text-transform: none;
}
img{
  height:150px;
  width:150px;
}
